<p class="text-center">
    &#128206;
    <a
        href="#"
        type="button"
        class="link-primary"
        onclick="mathCanvas.utils.copyLinkToClipboard(this)"
        data-toggle="tooltip"
        data-placement="top"
        title="Link copiato">
         Copia link a questa configurazione
    </a>
</p>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="link-copied-toast" class="toast text-bg-primary hide" role="success" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Link copiato negli appunti
        </div>
    </div>
</div>