---
layout: default
title: Funzione Integrale
slug: integral
instructions: |
  L'animazione mostra il significato geometrico di funzione integrale. Nel grafico in alto è rappresentata la funzione, nel grafico in basso la sua funzione integrale con x0=xmin (si veda pag.4 della tesi). <br>
---
{% include errors_and_instructions.html %}
<div class="row pt-4 g-3">
    <div class="col-md-3">
        {% include copy_link.html %}
        <div class="card card-body">
            <div class="form-group" id="form">
                <label for="function">Funzione:</label>
                <input type="text" id="function"  value="sin(x)/x" class="form-control" >
                <div class="form-text">Accetta solo funzioni limitate</div>
                <label for="xmin">X-min:</label>
                <input type="number" id="xmin" value="-5" step="0.01" class="form-control" min="-1000">
                <label for="xmax">X-max:</label>
                <input type="number" id="xmax" value="5" step="0.01" class="form-control" max="1000">
                <label for="ymin">Y-min:</label>
                <input type="number" id="ymin" value="-1.5" step="0.01" class="form-control" min="-1000">
                <label for="ymax">Y-max:</label>
                <input type="number" id="ymax" value="1.5" step="0.01" class="form-control" max="1000">
                <div id="manual_axes" class="div-with-collapsable-box d-inline-block">
                    <input type="checkbox" id="check_man_axes"> Inserisci manualmente Y-min e Y-max per il secondo grafico.
                    <div class="collapsable-box">
                        <label for='ymin_2'>Y-min:</label>
                        <input type='number' id='ymin_2' value='-2.5' step='0.01' class='form-control' min='-1000'>
                        <label for='ymax_2'>Y-max:</label>
                        <input type='number' id='ymax_2' value='2.5' step='0.01' class='form-control' max='1000'>
                    </div>
                </div>
                <input type="submit" id="start" value="Disegna e avvia animazione" onclick="mathCanvas.integral.init()" class="mt-3 btn btn-primary">
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div id="fx-canvas-container">
            <canvas id="fx-layer-0" class="position-absolute border border-dark"></canvas>
            <canvas id="fx-layer-1" class="position-absolute border border-dark"></canvas>
        </div>
        <hr>
        <div id="fx2-canvas-container">
            <canvas id="fx2-layer-0" class="position-absolute border border-dark"></canvas>
        </div>
    </div>
</div>
<script>
    const fxCanvasWidth =  document.querySelector('#fx-canvas-container').clientWidth
    const fx2CanvasWidth =  document.querySelector('#fx-canvas-container').clientWidth
    document.querySelector("#fx-layer-0").width = fxCanvasWidth
    document.querySelector("#fx-layer-1").width = fxCanvasWidth
    document.querySelector("#fx2-layer-0").width = fx2CanvasWidth
    document.querySelector("#fx-layer-0").height = fxCanvasWidth / 2
    document.querySelector("#fx-layer-1").height = fxCanvasWidth / 2
    document.querySelector("#fx2-layer-0").height = fx2CanvasWidth / 2
    document.querySelector("#fx-canvas-container").setAttribute("style", "height:" + (fxCanvasWidth / 2) + "px")
    document.querySelector("#fx2-canvas-container").setAttribute("style", "height:" + (fx2CanvasWidth / 2) + "px")
</script>

{% include initialization_script.html %}